.App {
  text-align:center;
  margin-left: 20px;
  margin-top: 30px;
}

.tr{ 
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: aqua;
  
}

.img1{
  width: 340px;
  height: 250px;
}